/* Estilização da seção FAQ */
.faq {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-sm);
  background-color: var(--color-sand-light);
}

.faq__title {
  text-align: left;
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-moss);
  margin-bottom: var(--spacing-md);
  font-family: var(--font-family-primary);
}

.faq__item {
  margin-bottom: var(--spacing-sm);
}

.faq__question {
  width: 100%;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-sand-light);
  color: var(--color-moss);
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: var(--border-radius-md);
  text-align: left;
  cursor: pointer;
  transition: background-color var(--transition-fast);
  font-family: var(--font-family-secondary);
}

.faq__question:hover {
  background-color: var(--color-olivegreen);
  color: var(--color-sand-light);
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-slow);
  padding: 0 var(--spacing-md);
}

.faq__answer p,
.faq__answer ul {
  color: var(--color-obsidian);
  margin: var(--spacing-xs) 0;
  line-height: 1.6;
  font-family: var(--font-family-secondary);
}

.faq__answer ul {
  padding-left: var(--spacing-xl);
}

.faq__answer ul li {
  list-style-type: disc;
}

/* Estilo para mostrar a resposta ao clicar */
.faq__item.active .faq__answer {
  max-height: 500px;
}

@media (max-width: 768px) {
.faq__question,
  .faq__answer {
    font-size: var(--font-size-base);
  }
}